.crd-image {
    
    object-fit: cover;
    width: 100%;
    height: 300px;
    background-color: blue;
    
  }
  .card{
    height: 500px;
    width: 300px;
    margin-top: 50px;
  }
  .home{
    background-color: rgba(183, 221, 232, 0.204);
    padding: 50px;
  }
  .content{
    margin-top: 20px;
    text-align: center;
  }