/* Registration.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.registrationbody {
  margin: 0;
  padding: 0;

  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
  background-image: url('../Images/registration.jpg');
}
.registration {
  max-width: 600px;
  margin: 50px auto 20px; /* Add margin to the top */
  animation: fadeIn 2s ease-in-out;
 
  padding: 20px;
  background-color: #dfeded43;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #007bff; /* Bootstrap primary color */
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ced4da; /* Bootstrap default input border color */
  border-radius: 5px;
}

.addcust {
  text-align: center;
  margin-top: 20px;
}

/* You can add more styling as per your requirements */

