@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.Brand {
  font-family: 'Playfair Display', serif; /* Choose an elegant and high-class font */
  font-weight: bold; /* Make the text bold */
  font-size: 36px; /* Adjust font size according to your design */
  letter-spacing: 1.5px; /* Adjust letter spacing for a clean and elegant look */
  color: #34495e; /* Set a sophisticated text color */
  text-transform: uppercase; /* Uppercase the text for a refined look */
  position: relative; /* Position for pseudo-element styling */
  transition: color 0.3s ease-in-out; /* Smooth color transition on hover */
}

.Brand::before {
  content: '\00a9'; /* Add a copyright symbol using Unicode character */
  font-size: 18px; /* Adjust the size of the symbol */
  color: #2c3e50; /* Set the color of the symbol */
  margin-right: 5px; /* Add spacing between text and symbol */
}

.Brand:hover {
  color: #2980b9; /* Change text color on hover for a subtle effect */
  animation: scaleUp 0.3s ease-in-out; /* Apply scaling animation on hover */
}

/* Add more styles as needed */




.Brand span {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.food-emoji {
  font-size: 36px; /* Size for the food emoji */
  margin-right: 10px; /* Adjust spacing between emoji and text */
}



.Brand:hover span {
  transform: scale(1.2);
}

.Brand span:nth-child(odd) {
  font-style: italic;
}

.Brand span:nth-child(even) {
  font-weight: bold;
}

.Brand span {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #000, #222);
  padding: 5px 10px;
  border-radius: 8px;
}

.Brand {
  background: linear-gradient(to right, #100f0f, #111010);
  color: #fff;
  padding: 12px 20px;
  border-radius: 15px;
  cursor: pointer;
}

.navbar-custom {
    background-color: #141614; /* Background color of the Navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow for lift effect */
  }
  
  
  
  .navbar-custom .nav-link {
    color: #f6b51e;
    margin-right: 15px;
    transition: color 0.3s ease-in-out; /* Smooth color transition on hover */
  }
  
  .navbar-custom .nav-link:hover {
    color: #fc0f82; /* Yellow color on hover */
  }
  
  
  
  .navbar-custom .navbar-collapse {
    background-color: #1414157d; /* Background color of the collapsed Navbar */
  }
  
  /* Add media query to adjust styles for smaller screens if needed */
  @media (max-width: 768px) {
    .navbar-custom .nav-link {
      margin-right: 0;
    }
  }
  